body {
  margin: 0;
}
button {
  width: 100vw;
  height: 100vh;
  background: url("../imgs/index_bkg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
}