.list2-title {
  display: block;
  width: 400px;
}
.search-bar {
  width: 100%;
}
.pc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pc img {
  width: 45%;
  margin: 0 0 32px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .m {
    display: block;
  }
  .m img {
    width: 90%;
    cursor: pointer;
    display: block;
    margin: 0 16px;
  }
  .pc {
    display: none;
  }
}